
<h1>Productos en tiempo real</h1>

<ul id="productList"></ul>

<form id="productForm">
  <input id="title" placeholder="Título" required />
  <input id="price" type="number" placeholder="Precio" required />
  <button>Agregar</button>
</form>

<form id="deleteForm">
  <input id="id" type="number" placeholder="ID a eliminar" required />
  <button>Eliminar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
