
<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Entrega Final</title>
=======
  <meta charset="UTF-8">
  <title>Entrega WebSockets</title>
>>>>>>> a8a46ca6cd209526d9d5dd8758d36ffcd32597a8
</head>
<body>
  {{{body}}}
</body>
</html>
